import os


class Config(object):
    APP_NAME = 'DropTrack'
    DEBUG = True
    DEVELOPMENT = True
    SECRET_KEY = 'secret'
    SERVER_NAME = 'localhost:5000'
    API_URL = 'http://' + SERVER_NAME
    FLASK_SECRET = SECRET_KEY
    UPLOAD_DIR = os.path.join(os.getcwd(), 'data/upload')
    UPLOAD_ALLOWED_EXTENSIONS = {'wav', 'mp3', 'ogg'} 
    ROUTER = 'tcp://127.0.0.1:5100'
    SQLALCHEMY_DATABASE_URI = 'postgresql://droptrack:kcartpord@localhost:5432/droptrack'
    SQLALCHEMY_TRACK_MODIFICATIONS = False


class StagingConfig(Config):
    DEBUG = False
    DEVELOPMENT = False
    SECRET_KEY = '4Bp2qR-98qRwL-O8qVVWfS-GUFt15GR405h16WF0euK8uH1K-EdHD5lpxRsMxI8U'
    UPLOAD_DIR = '/opt/droptrack/upload'


class ProductionConfig(Config):
    DEBUG = False
    DEVELOPMENT = False
    SERVER_NAME = 'drop.sansculotte.net'
    API_URL = 'http://' + SERVER_NAME
    SECRET_KEY = os.environ.get("SECRET_KEY")
    SQLALCHEMY_DATABASE_URI = os.environ.get("SQLALCHEMY_DATABASE_URI")
    UPLOAD_DIR = '/opt/droptrack/data/upload'


class DevelopmentConfig(Config):
    DEBUG = True
    DEVELOPMENT = True


class TestingConfig(Config):
    TESTING = True
    SQLALCHEMY_DATABASE_URI = 'postgresql://droptrack:kcartpord@localhost:5432/droptrack_testing'
