Flask-SQLAlchemy==2.4.4
flask-login==0.5.0
SQLAlchemy==1.3.22
Flask-Migrate==2.5.3
psycopg2-binary
args==0.1.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
clint==0.5.1
cryptography==2.8
demjson==2.2.4
Flask==1.1.1
fudge==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
mutagen==1.44.0
nose==1.3.7
pycparser==2.19
pyOpenSSL==19.1.0
pyzmq==18.1.1
requests==2.22.0
simplejson==3.17.0
six==1.14.0
soundcloud==0.5.0
soundscrape==0.30.1
urllib3==1.25.8
Werkzeug==1.0.0
pyzmq==18.1.1
python-daemon==2.2.4
