@import "../theme/colors";

section.fileList {
  height: 500px;
  & > ul {
    & > li {
      display: flex;
      color: black;
      &:hover {
        background-color: $highlight; /* #f479b3; */
      }
      dt {
        flex: 1;
      }
      dd {
        flex: 0 0 50px;
      }
    }
  }
}
