@import './theme/colors';

main.app {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding: 0;
  font-family: Helvetica, sans-serif;
  a {
    text-decoration: none;
  }
  h1 {
    padding: 10px;
    background-color: $dark;
    color: $white;
  }
  menu {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 12px;
    & > input {
      padding: 10px 20px 10px 20px;
    }
  }
  section {
    & > ul {
      position: absolute;
      width: 600px;
      height: 500px;
      padding: 0;
      list-style: none;
      background-color: #ddd;
      overflow-y: auto;
      & > li {
        width: calc(100% - 6px);
        padding: 4px 0 4px 6px;
        user-select: none;
        & > dt {
          margin: auto;
        }
        & > dd {
          margin: auto;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:hover {
          background-color: $highlight;
        }
      }
    }
  }
  form {
    display: grid;
    grid-gap: 20px;
    grid-template: repeat(2, 1fr);
    &>div, select, input[type="text"], label {
      grid-column: 1 / span 2;
      width: 100%;
    }
    input[type="button"] {
      grid-column: 2 / span 1;
    }
    input[type="number"] {
      width: 100%;
    }
    input {
      text-indent: 10px;
    }
    input, select {
      height: 40px;
      box-sizing: border-box;
      border: 2px solid silver;
    }
  }
  button, input[type="button"] {
    height: 40px;
    background-color: $darkred;
    color: white;
    border: none;
    font-weight: 600;
  }
  .backgroundRed {
    background-color: $brightred,
  }
  .backgroundBlack {
    background-color: $black,
  }
}

@media screen and (max-width: 37.5em) {
  main.app {
    width: 100%;
  }
}
