@import './theme/base';
@import './theme/colors';

main.app {
  margin-left: auto;
  margin-right: auto;
  width: $desktop-width;
  padding: 0;
  font-family: Helvetica, sans-serif;
  a {
    text-decoration: none;
  }
  h1 {
    padding: 10px;
    background-color: $dark;
    color: $white;
  }
  menu {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 12px;
    & > input {
      padding: 10px 20px 10px 20px;
    }
  }
  section {
    position: absolute;
    width: $desktop-width;
    min-height: 500px;
    background-color: $light;
    & > ul {
      margin: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      list-style: none;
      overflow-y: auto;
      & > li {
        width: calc(100% - 6px);
        padding: 4px 0 4px 6px;
        user-select: none;
        & > dt {
          margin: auto;
        }
        & > dd {
          margin: auto;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:hover {
          background-color: $highlight;
        }
      }
    }
  }
  form {
    display: grid;
    grid-gap: 20px;
    grid-template: repeat(2, 1fr);
    &>div, select, input[type="text"], label {
      grid-column: 1 / span 2;
    }
    label {
      color: $dark;
    }
    input[type="button"] {
      grid-column: 2 / span 1;
    }
    input[type="number"] {
      width: 100%;
    }
    input {
      text-indent: 10px;
    }
    input, select {
      height: 40px;
      box-sizing: border-box;
      border: 2px solid $middle;
    }
  }
  a.button {
    display: block;
    padding: 12px 16px 0 16px; 
    line-height: 1;
    & > span {
      & + div {
        margin-left: 10px;
      }
    }
  }
  button, input[type="button"], a.button {
    background-color: $darkred;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      background-color: $middle;
      transition: background-color 200ms ease-in;
    }
  }
  .backgroundRed {
    background-color: $brightred;
  }
  .backgroundBlack {
    background-color: $black;
  }
  button {
    height: 40px;
  }
}

progress {
  &::-webkit-progress-value {background-color: $highlight !important;}
  &::-moz-progress-bar {background-color: $highlight !important;}
}

@media screen and (max-width: $mobile-breakpoint) {
  main.app {
    width: 100%;
    section {
      width: 100%;
    }
  }
}
