{% extends "main.html" %}
{% block content %}
    {% if result %}
        <article class="error">{{ result.message }}</article>
    {% endif %}
    <form action="url" method="POST">
        <input name="url" type="url" placeholder="URL of soundfile"/>
        <input type="submit" />
    </form>
    <form action="soundfile" method="POST" enctype="multipart/form-data">
        <input name="soundfile" type="file" accept="audio/*" placeholder="Upload Soundfile"/>
        <input type="submit" value="Upload" />
    </form>
{% endblock %}
